---
layout: ""
page_title: "Template Provider"
description: |-
  The Template provider provides resources to interact with the example API.
---

# Template Provider

The Template provider is used to interact with resources supported by the 
example API. The provider needs to be configured with the proper credentials
before it can be used.

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
